* {margin: 0;padding: 0;box-sizing: border-box;}

body {
    min-height: 99vh;
    background: linear-gradient(180deg, #90F5BD 0%, #7ABB96 100%);
    font-family: 'Poppins';
}

*::placeholder {
    font-family: Poppins;
    font-size: 20px;
    position: relative;
    left: 15px;
}

